# =========================
# 🔹 ML Models
# =========================
*.pkl
*.pth
*.h5
*.joblib

# =========================
# 🔹 Datasets
# =========================
*.csv
*.xlsx
*.parquet
data/
Mimic*
mimic*

# =========================
# 🔹 Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
.ipynb_checkpoints/

# =========================
# 🔹 Node / Frontend
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# 🔹 Logs
# =========================
*.log

# =========================
# 🔹 VS Code
# =========================
.vscode/